<form action="{% url 'RecruitList' %}" method="get">


    <p align="center"> Choose yourself:
        &nbsp; &nbsp;

        <select name="name_sith">
            <option>Choose yourself</option>
            {% if siths_list %}
                {% for sith in siths_list %}
                    <option value="{{ sith.id }}">{{ sith.name_sith }}</option>
                {% endfor %}
            {% else %}
                <option>No siths</option>
            {% endif %}
        </select>

    </p>

    <p align="center">

        <input type="submit" value="Next">

    </p>

</form>